@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --darkblue: #212153;
  --lightblue: #0139ff;
  --aquamarine: #dceef2;
  --black: #000000;
  --gray: #656565;
  --lightgray: #cdcdcd;
  --brown: #2b0707;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  overflow-x: hidden;
}

@layer utilities {
  .text-blue-light {
    color: var(--darkblue);
  }

  .bg-aquamarine {
    background-color: var(--aquamarine);
  }

  .text-blue-bold {
    color: var(--darkblue);
    font-weight: 800;
  }

  .circle-lightgray {
    color: var(--lightgray);
  }

  .circle-gray {
    color: var(--gray);
  }

  .subtitle {
    @apply text-black tracking-[10px] font-semibold;
  }

  .title {
    @apply text-blue-light text-6xl mt-4;
  }

  .parrafo {
    @apply text-3xl font-normal;
  }
}
