@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --darkblue: #212153;
  --lightblue: #0139ff;
  --black: #000000;
  --gray: #656565;
  --lightgray: #cdcdcd;
  --brown: #2b0707;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  overflow-x: hidden;
}

@layer utilities {
  .text-blue-light {
    color: var(--darkblue);
  }

  .text-blue-bold {
    color: var(--darkblue);
    font-weight: 800;
  }

  .circle-lightgray {
    color: var(--lightgray);
  }

  .circle-gray {
    color: var(--gray);
  }
}
